---
import Page from '@components/Page.astro'
import PostsDisplay from '@components/PostsDisplay.astro'

const tag = Astro.params.tag
const title = `Posts tagged with "${tag}" - Blog | Igor Dimitrijević`
const description = 'My own blog'

export function getStaticPaths() {
  return [
    { params: { tag: 'javascript' } },
    { params: { tag: 'html' } },
    { params: { tag: 'css' } },
    { params: { tag: 'animation' } },
    { params: { tag: 'performance' } },
    { params: { tag: 'tutorial' } },
    { params: { tag: 'js' } },
    { params: { tag: 'vscode' } },
    { params: { tag: 'npm' } },
    { params: { tag: 'node' } },
    { params: { tag: 'fix' } },
    { params: { tag: 'technology' } },
  ]
}

const posts = await Astro.glob('../*.md')
---

<style>
  #posts--heading {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    #posts {
      margin: auto;
      width: 80%;
    }
  }
</style>

<Page title={title} description={description}>
  <section id="posts">
    <h1 id="posts--heading">Posts tagged with "{tag}"</h1>
    <br />
    <br />
    <PostsDisplay posts={posts} tag={tag} />
  </section>
</Page>
