---
import type { PageProps } from '@interfaces/PageProps'

const {
  title = '',
  description = '',
  featuredImage = '',
  keywords = ''
} = Astro.props as PageProps

import '@ui/chimera.css'
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="preload"
    href="/font/Poppins.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <style type="text/css" is:inline>
    @font-face {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-display: optional;
      src:
        local('Poppins'),
        url('/font/Poppins.woff2') format('woff2');
    }
  </style>

  <title>{title}</title>
  <link rel="icon" href="/favicon.svg" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="theme-color" content="#003599" />

  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="color-scheme" content="dark light" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={featuredImage} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={featuredImage} />

  <link rel="manifest" href="/manifest.json" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed for igorskyflyer.me"
    href="/rss.xml"
  />

  <slot />
</head>
