---
import { MarkdownInstance } from 'astro'
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt'
import { postDate } from '../functions/posts'

export interface Props {
  post: MarkdownInstance<Record<string, any>>
}

const { post } = Astro.props

if (typeof post == 'undefined') {
  throw new TypeError('No required post prop.')
}

interface PostProps {
  title: string
  minutesRead: string
  publishDate: string
}

const { title = '', minutesRead = '', publishDate = '' } = post.frontmatter as PostProps

const postPublishedDate = postDate(publishDate)
---

<article>
  <a href={post.url} class="post-link">{title}</a>
  <div class="post--inner">
    <div class="post-info">
      <div class="post--meta">
        <span>{postPublishedDate}</span>
        <span>{minutesRead}</span>
      </div>
      <span>by <a href="/igorskyflyer/">igorskyflyer</a></span>
    </div>
    <p class="post-description">
      <PostExcerpt post={post} words={30} addEllipsis={true} />
    </p>
  </div>
</article>
