---
import { MarkdownInstance } from 'astro'
import PostExcerpt from '@igor.dvlpr/astro-post-excerpt'
import { postDate } from '@functions/posts'

export interface Props {
  post: MarkdownInstance<Record<string, any>>
  tag?: string
}

const { post } = Astro.props

if (typeof post == 'undefined') {
  throw new TypeError('No required post prop.')
}
interface PostProps {
  title: string
  minutesRead: string
  publishDate: string
  tag?: string
}

const { title = '', minutesRead = '', publishDate = '', tag = '' } = post.frontmatter as PostProps

const tags = tag.split(',')
const postPublishedDate = postDate(publishDate)
---

<style>
  article {
    margin-bottom: 3rem;
    text-align: justify;
    color: #d4d4ff;
  }

  .post-link {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(17, 188, 226);
  }

  .post-info {
    color: #9e9ece;
    font-size: 0.85rem;
  }

  .post-description {
    margin: 1.5rem 0 0 0;
    font-size: 0.95rem;
    color: #d4d4ff;
    text-align: justify;
  }

  .post--inner {
    padding: 0.25rem;
  }

  .post--meta {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .post--tags {
    margin: 0.5rem 0;
  }

  .post--tags a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin-right: 0.4rem;
    border-radius: var(--border-radius);
    background: rgba(17, 188, 226, 0.12);
  }

  .post--author {
    display: inline-block;
    margin-top: 1rem;
  }

  @media screen and (min-width: 600px) {
    .post-info {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>

<article>
  <a href={`${post.url}/`} class="post-link">{title}</a>
  <div class="post--inner">
    <div class="post-info">
      <div class="post--meta">
        <span>{postPublishedDate}</span>
        <span>{minutesRead}</span>
      </div>
      {
        tag.length > 0 && (
          <div class="post--tags">
            {tags.map((tagName) => (
              <a href={`/blog/tag/${tagName}/`}>{tagName}</a>
            ))}
          </div>
        )
      }
      <span class="post--author">by <a href="/igorskyflyer/">igorskyflyer</a></span>
    </div>
    <p class="post-description">
      <PostExcerpt post={post} words={20} addEllipsis={true} />
    </p>
  </div>
</article>
