---
const { post } = Astro.props

interface PostProps {
  title: string
  minutesRead: string
  description: string
  publishDate: string
}

const { title, minutesRead, description, publishDate } = post.frontmatter as PostProps
---

<article>
  <a href={post.url} class="post-link">{title}</a>
  <div class="post-info">
    <span>{publishDate}</span>
    <span>{minutesRead}</span>
  </div>
  <p class="post-description">{description}</p>
</article>
