---
import Page from '@components/Page.astro'
import PostsDisplay from '@components/PostsDisplay.astro'
import { getCollection } from 'astro:content'

const tag = Astro.params.tag
const title = `Posts tagged with "${tag}" - Blog | Igor Dimitrijević`
const description = 'My own blog'

const posts = await getCollection('blog')

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  return posts.map((post) => {
    return {
      params: {
        tag: post.data.tags,
      },
    }
  })
}
---

<style>
  #posts--heading {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    #posts {
      margin: auto;
      width: 80%;
    }
  }
</style>

<Page title={title} description={description}>
  <section id="posts">
    <h1 id="posts--heading">Posts tagged with "{tag}"</h1>
    <br />
    <br />
    <PostsDisplay posts={posts} tag={tag} />
  </section>
</Page>
