---
import Page from '@components/Page.astro'
import type { PageProps } from '@interfaces/PageProps'

const { frontmatter } = Astro.props
const { title, description, featuredImage, publishDate } =
  frontmatter as PageProps

const pageTitle = `${title} - Blog | Igor Dimitrijević`
---

<style>
  .post {
    text-align: justify;
    color: #d4d4ff;
  }

  #post--all-posts {
    margin-left: -0.5rem;
    font-size: 1.25rem;
  }

  #post--all-posts:before {
    content: '\02770\20';
  }
</style>

<style is:global>
  :not(pre) > code,
  pre {
    background: #0d1117 !important;
    box-shadow: 0 0 18px inset #000;
  }

  :not(pre) > code {
    padding: 0.3rem;
    border-radius: 4px;
  }

  pre {
    border-radius: var(--border-radius);
    padding: 1rem;
    text-align: left;
  }
</style>

<Page title={pageTitle} description={description} featuredImage={featuredImage}>
  <a href="/blog/" id="post--all-posts">Back to all posts</a>
  <br />
  <br />
  <article class="post">
    <h2>{title}</h2>
    <span class="post--author"
      >by <a href="/igorskyflyer/">igorskyflyer</a></span
    >
    <div class="post--meta">
      <span>{publishDate}</span>
    </div>
    <section class="post--content">
      <slot />
    </section>
  </article>
</Page>
