---
import imageAuthor from '@assets/author/igorskyflyer-mini.png'
import PostPage from '@components/PostPage.astro'
import { SiteName } from '@data/Site'
import { postDate } from '@functions/posts'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props
const { title, description, featuredImage, publishDate, minutesRead, tags } =
  frontmatter

const pageTitle = `${title} - Blog | ${SiteName}`
const postPublishedDate = postDate(publishDate)
---

<style>
  .post {
    color: #d4d4ff;
  }

  #post--all-posts {
    margin-left: -0.5rem;
    font-size: 1.25rem;
  }

  #post--all-posts:before {
    content: '\02770\20';
  }

  article {
    margin-bottom: 3rem;
    color: #d4d4ff;
  }

  .post-link {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--link);
  }

  .post-info {
    text-align: justify;
    color: #9e9ece;
    font-size: 0.93rem;
  }

  .post-description {
    margin: 1.5rem 0 0 0;
    font-size: 1.1rem;
    color: #d4d4ff;
    text-align: justify;
  }

  .post--inner {
    padding: 0.25rem;
  }

  .post--meta {
    display: flex;
    margin-top: 1rem;
  }

  .post--tags {
    margin-top: 1.5rem;
  }

  .post--tags a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 0.4rem 0.3rem 0;
    border-radius: var(--border-radius);
    background: rgba(17, 188, 226, 0.12);
    transition:
      background ease-out 120ms,
      color ease-out 120ms;
  }

  .post--tags a:hover {
    background: var(--accent);
    color: #fff;
  }

  .post--author {
    display: flex;
    align-items: center;
  }

  .post--author img {
    width: 56px;
    height: 56px;
  }

  .post--frontmatter {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .post-meta-separator {
    display: inline-block;
    margin: 0 10px;
    font-size: 2rem;
  }

  .post-data {
    margin-top: 0.4rem;
  }

  .post-data-inner {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 600px) {
    .post-info {
      flex-direction: row;
      justify-content: space-between;
    }

    .post--author img {
      width: 84px;
      height: 84px;
    }
  }
</style>

<PostPage
  title={pageTitle}
  description={description}
  featuredImage={featuredImage}
  post={frontmatter}>
  <a href="/blog/" id="post--all-posts">Back to all posts</a>
  <br />
  <br />
  <article class="post">
    <h2>{title}</h2>
    <div class="post-info">
      <div class="post--meta">
        <span class="post--author"
          ><a href="/igorskyflyer/"
            ><Image
              src={imageAuthor}
              alt="IgorSkyFlyer's profile photo"
              loading="eager"
              width="84"
              height="84"
              quality="max"
            /></a
          ></span
        >
        <div class="post--frontmatter">
          <a href="/igorskyflyer/">Igor Dimitrijević (igorskyflyer)</a>
          <div class="post-data">
            <div class="post-data-inner">
              <Icon name="mdi:clock-outline" width="24" />&nbsp;
              {postPublishedDate}
            </div>
            <div class="post-data-inner">
              <Icon name="ic:baseline-menu-book" width="24" />&nbsp;
              {minutesRead}
            </div>
          </div>
        </div>
      </div>
      {
        tags.length > 0 && (
          <div class="post--tags">
            {tags.map((tagName: string) => (
              <a href={`/blog/tag/${tagName}/`}>{tagName}</a>
            ))}
          </div>
        )
      }
    </div>
    <section class="post--content">
      <slot />
    </section>
  </article>
</PostPage>
