---
import Page from '@components/Page.astro'
import type { PageProps } from '@interfaces/PageProps'

const { frontmatter } = Astro.props
const { title, description, featuredImage } = frontmatter as PageProps

const pageTitle = `${title} - Blog | Igor Dimitrijević`
---

<Page title={pageTitle} description={description} featuredImage={featuredImage}>
  <a href="/blog/" id="post--all-posts">Back to all posts</a>
  <br />
  <br />
  <h2>{title}</h2>
  <article class="post">
    <slot />
  </article>
</Page>
